@page "/cv"

<PageTitle>CV</PageTitle>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="/images/logo.png" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h2>Artem Dolya</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-indigo"></i>Founding Software Engineer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-indigo"></i>Orlando, FL</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-indigo"></i>art@dolya.net</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-indigo"></i>407-607-5075</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-indigo"></i>Skills</b></p>
          <p>.NET</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-indigo" style="width:100%">19 years</div>
          </div>
          <p>SQL</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-indigo" style="width:85%">16 years</div>
          </div>
          <p>Javascript</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-indigo" style="width:65%">12 years</div>
          </div>
          <p>AWS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-indigo" style="width:45%">8 years</div>
          </div>
          <p>Agile</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-indigo" style="width:85%">16 years</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-indigo"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-indigo" style="height:24px;width:80%"></div>
          </div>
          <p>Ukrainan</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-indigo" style="height:24px;width:100%"></div>
          </div>
          <p>Russian</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-indigo" style="height:24px;width:100%"></div>
          </div>
          <br>
        </div>
      </div><br>

      <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-indigo"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Founding Software Engineer / <a href="https://www.coming.soon/" target="_blank">CarsReview</a></b></h5>
          <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Nov 2023 - <span class="w3-tag w3-indigo w3-round">Current</span></h6>
          <p>CarsReview is a B2B platform revolutionizing used car buying with honest, in-depth reviews. We provide businesses with accurate insights into performance, history, and value, ensuring informed, confident decisions.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Cloud Architect / <a href="https://www.itera.com/" target="_blank">Itera</a> </b></h5>
          <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Nov 2012 - Dec 2014</h6>
          <p><a href="https://di.no" target="_blank">Distributed Innovation</a> (DI) is a SaaS company that develops and operates tech solutions for nordic media distributors within the fields of e-commerce, print media, and last mile. Millions of products are delivered through our system every day, and our technology reaches more than 5 million households throughout the Nordic countries.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Principal Software Engineer / <a href="https://namecheap.com" target="_blank">Namecheap</a></b></h5>
          <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Apr 2016 - Oct 2021</h6>
          <p>Namecheap has been around for more than 20 years and has provided services across 18 countries worldwide. Some say that one of the disadvantages of using Namecheap is their limited hosting options.</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Staff Software Engineer / <a href="https://ascendix.com/ascendixre-commercial-real-estate-crm/" target="_blank">AscendixRE</a></b></h5>
          <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jul 2015 - Mar 2016</h6>
          <p>Enterprise Data Gateway Engine (EDGE) is a scalable, cloud based, geographically distributed search and caching service for enterprise CRM data, fronted by a RESTful API for building or integrating fast search and retrieval functionality into line of business applications, without circumventing the underlying CRM security model.</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Software Engineering Manager / <a href="https://www.teaminternational.com/" target="_blank">TEAM International</a></b></h5>
          <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2014 - Jun 2015</h6>
          <p><a href="https://www.telenor.dk/" target="_blank">Telenor ASA</a> is one of the world's largest mobile telecommunications companies with operations worldwide.</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Software Engineering Manager / <a href="https://www.sphereinc.com/" target="_blank">Sphere Software</a></b></h5>
          <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Aug 2014</h6>
          <p>Sphere is more than a technology consultancy, we're your catalyst for success. With strategy, data, design, engineering, and AI as our tools, we empower organizations to redefine their potential and achieve unparalleled success.</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Senior Software Engineer / <a href="https://www.antarasoft.com/" target="_blank">Antarasoft Ltd</a></b></h5>
          <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2009 - May 2010</h6>
          <p><a href="https://invarion.com/" target="_blank">Invarion</a> is focused on being the best in the market with our traffic planning software, now used by over 10,000 customers in 32 countries.</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Software Engineer / <a href="https://www.linkedin.com/company/ambercore-inc./about/" target="_blank">Ambercore Inc.</a></b></h5>
          <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2004 - Dec 2008</h6>
          <p>Ambercore, the 4D Company, provides end-to-end spatial data solutions.</p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-indigo"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b><a href="https://www.kpi.kharkov.ua/eng/" target="_blank">National Technical University – «Kharkiv Polytechnic Institute»</a></b></h5>
          <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>1998-2004</h6>
          <p>Master's Degree of Computer Science</p>
          <p>GPA 4.4 | 5</p>
          <hr>
        </div>
      </div>

      <!-- End Right Column -->
    </div>
    
    <!-- End Grid -->
  </div>
</div>